@model FlatGeometryModel
@{
    ViewData["Title"] = "Trapezium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 border border-success">
        <h5 class="text-center">Pole Trapezu</h5>
        <form asp-controller="FlatGeometry" asp-action="Trapezium" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="TrapeziumDownBase">Podaj dolną podstawę trapezu:</label>
                    <input type="text" class="form-control" asp-for="TrapeziumDownBase" placeholder="Dolna dodstawa trapezu" id="inputTrapeziumDownBase">
                    <label class="col-form-label mt-4" asp-for="TrapeziumUpBase">Podaj górna podstawę trapezu:</label>
                    <input type="text" class="form-control" asp-for="TrapeziumUpBase" placeholder="Górna podstawa trapezu" id="inputTrapeziumUpBase">
                    <label class="col-form-label mt-4" asp-for="TrapeziumHeight">Podaj wysokośc trapezu:</label>
                    <input type="text" class="form-control" asp-for="TrapeziumHeight" placeholder="Wysokość trapezu" id="inputTrapeziumHeight">
                    
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonFirst" class="btn btn-lg btn-success" asp-controller="FlatGeometry" asp-action="Trapezium" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole trapezu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6 border border-success">
        <h5 class="text-center">Obwód Trapezu</h5>
        <form asp-controller="FlatGeometry" asp-action="Trapezium" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="TrapeziumDownBase">Podaj dolną podstawę trapezu:</label>
                    <input type="text" class="form-control" asp-for="TrapeziumDownBase" placeholder="Dolna dodstawa trapezu" id="inputTrapeziumDownBase">
                    <label class="col-form-label mt-4" asp-for="TrapeziumUpBase">Podaj górna podstawę trapezu:</label>
                    <input type="text" class="form-control" asp-for="TrapeziumUpBase" placeholder="Górna podstawa trapezu" id="inputTrapeziumUpBase">
                    <label class="col-form-label mt-4" asp-for="TrapeziumFirstSide">Podaj pierwszy bok trapezu:</label>
                    <input type="text" class="form-control" asp-for="TrapeziumFirstSide" placeholder="Bok trapezu" id="inputTrapeziumFirstSide">
                    <label class="col-form-label mt-4" asp-for="TrapeziumSecondSide">Podaj drugi bok trapezu</label>
                    <input type="text" class="form-control" asp-for="TrapeziumSecondSide" placeholder="Bok trapezu" id="inputTrapeziumSecondSide">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonSecond" class="btn btn-lg btn-success" asp-controller="FlatGeometry" asp-action="Trapezium" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Obwód trapezu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultCircuit" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
</div>

