@model CalculateEverything.Models.VariablesModel
@{
    ViewData["Title"] = "SquareArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Pole Kwadratu</h3>
<form asp-controller="AreaCalculator" asp-action="SquareArea" method="post">
    <div class="mb-3" style="max-width: 40rem;">
        <div>
            <label class="col-form-label mt-4" asp-for="SquareSide">Podaj bok kwadratu:</label>
            <input type="number" class="form-control" asp-for="SquareSide" placeholder="Bok kwadratu" id="inputSide">
        </div>
        <div class="d-grid gap-2" style="padding-top: 30px">
            <button name="button" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="SquareArea" formmethod="post">Oblicz</button>
        </div>
        <div>
            <label class="form-label mt-4" asp-for="Result">Pole kwadratu wynosi:</label>
            <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.Result" placeholder="Wynik" readonly="">
        </div>
    </div>
</form>


