@model VariablesModel
@{
    ViewData["Title"] = "Triangle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 border border-success">
        <h5>Pole trójkąta</h5>
        <form asp-controller="AreaCalculator" asp-action="Triangle" method="post">
            <div class="mb-3" style="max-width: 40rem;">
                <div>
                    <label class="col-form-label mt-4" asp-for="TriangleBaseLine">Podaj podstawę trójkąta:</label>
                    <input type="text" class="form-control" asp-for="TriangleBaseLine" placeholder="Podstawa trójkąta" id="inputTriangleBaseLine">
                    <label class="col-form-label mt-4" asp-for="TriangleHeight">Podaj wysokość trójkąta:</label>
                    <input type="text" class="form-control" asp-for="TriangleHeight" placeholder="Wysokość trójkąta" id="inputTriangleHeight">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonFirst" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="Triangle" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole trójkąta wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 border border-success">
    <h5>Pole trójkąta (sinus kąta alfa)</h5>
    <form asp-controller="AreaCalculator" asp-action="Triangle" method="post">
        <div class="mb-3" style="max-width: 40rem;">
            <div>
                <label class="col-form-label mt-4" asp-for="FirstTriangleSide">Podaj pierwszy bok przy kącie alfa:</label>
                <input type="text" class="form-control" asp-for="FirstTriangleSide" placeholder="Pierwszy bok" id="inputFirstTriangleSide">
                <label class="col-form-label mt-4" asp-for="SecondTriangleSide">Podaj drugi bok przu kącie alfa:</label>
                <input type="text" class="form-control" asp-for="SecondTriangleSide" placeholder="Drugi bok" id="inputSecondTriangleSide">
                <label class="col-form-label mt-4" asp-for="AlphaAngle">Podaj kąt alfa:</label>
                <input type="text" class="form-control" asp-for="AlphaAngle" placeholder="Kąt alfa" id="inputAlphaAngle">
            </div>
            <div class="d-grid gap-2" style="padding-top: 30px">
                <button name="button" value="buttonSecond" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="Triangle" formmethod="post">Oblicz</button>
            </div>
            <div>
                <label class="form-label mt-4" asp-for="Result">Pole trójkąta wynosi:</label>
                <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea2" placeholder="Wynik" readonly="">
            </div>
        </div>
    </form>
    </div>
    <div class="col-md-4 border border-success">
        <h5>Pole trójkąta (długości boków)</h5>
        <form asp-controller="AreaCalculator" asp-action="Triangle" method="post">
            <div class="mb-3" style="max-width: 40rem;">
                <div>
                    <label class="col-form-label mt-4" asp-for="FirstTriangleSide">Podaj pierwszy bok trójkąta:</label>
                    <input type="text" class="form-control" asp-for="FirstTriangleSide" placeholder="Pierwszy bok" id="inputFirstTriangleSide">
                    <label class="col-form-label mt-4" asp-for="SecondTriangleSide">Podaj drugi bok trókjąta:</label>
                    <input type="text" class="form-control" asp-for="SecondTriangleSide" placeholder="Drugi bok" id="inputSecondTriangleSide">
                    <label class="col-form-label mt-4" asp-for="TriangleBaseLine">Podaj trzeci bok trójkąta:</label>
                    <input type="text" class="form-control" asp-for="TriangleBaseLine" placeholder="Trzeci bok" id="inputTriangleBaseLine">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonThird" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="Triangle" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole trójkąta wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea3" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 border border-success">
        <h5>Oblicz przeciwprostokątną</h5>
        <form asp-controller="AreaCalculator" asp-action="Triangle" method="post">
            <div class="mb-3" style="max-width: 40rem;">
                <div>
                    <label class="col-form-label mt-4" asp-for="FirstCathetus">Podaj pierwszą przyprostokątną trójkąta:</label>
                    <input type="text" class="form-control" asp-for="FirstCathetus" placeholder="Przyprostokątna trójkąta" id="inputFirstCatheus">
                    <label class="col-form-label mt-4" asp-for="SecondCathetus">Podaj drugą przyprostokątną trójkąta:</label>
                    <input type="text" class="form-control" asp-for="SecondCathetus" placeholder="Przyprostokątna trójkąta" id="inputSecondCatheus">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonFourth" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="Triangle" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole trójkąta wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultHypnotenuse" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 border border-success"></div>
    <div class="col-md-2 border border-success"></div>
    <div class="col-md-6 border border-success"></div>
</div>




